:root{
    --ps_darker: #000000;
    --ps_dark: #363636;
    --ps_primary_light: #2D64E6;
    --ps_primary: #00439C;
    --ps_danger: #CD3D0F; 
}


/* debug */

.debug header{
    height: 80px;
    background-color: aquamarine;
}
.debug .jumbotron{
    height: 500px;
    background-color: black;
}
.debug .album_images{
    background-color: bisque;
}
.debug [class^="col"]{
    height: 150px;
    background-color: violet;
    border: 1px solid black;
}
.debug .takes_two{
    height: 500px;
    background-color: red;
}
.debug .new_releasefs{
    background-color: black;
}
.debug .playstation_plus{
    height: 500px;
    background-color: yellowgreen; 
}
.debug .playstation_now{
    height: 500px;
    background-color: yellow;
}