/*Utilites*/
:root{
    --ps_darker: #000000;
    --ps_dark: #363636;
    --ps_primary_light: #2D64E6;
    --ps_primary: #00439C;
    --ps_danger: #CD3D0F; 
}
img{
   max-width: 100%;
}
.container_small{
    width: 30%;
    align-self:flex-end;
}
.height{
    height: 100%;
}
/* header */
header .header_top{
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: var(--ps_darker);
    padding: 1rem;
}
/* end_header */

/* main */
/* jumbotron */
.jumbotron{
    background-image: url(../img/returnal-listing-thumb-01-ps5.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 800px;
}
/* debug */
.debu [class^="col"]{
    height: 150px;
    background-color: violet;
    border: 1px solid black;
}
.debug .takes_two{
    height: 500px;
    background-color: red;
}
.debug .new_releasefs{
    background-color: black;
}
.debug .playstation_plus{
    height: 500px;
    background-color: yellowgreen; 
}
.debug .playstation_now{
    height: 500px;
    background-color: yellow;
}
.debug footer{
    background-color: gray;
}
.debug footer [class^="col-"]{
    background-color: bisque;
}
/* Responsive */
@media screen and (max-width: 768px) {
    .container_small{
        width: 70%;
    }
}